/* src/styles/Header.css */

@layer stardux {
  /* Header */
  /* .header {
    background: transparent;
  } */

  /* Site title */
  .title-wrapper {
    padding: 0.25rem;
    margin: -0.25rem;
  }

  /* Search, social, theme and language controls */
  .right-group,
  .social-icons {
    gap: var(--sl-nav-gap);
  }

  /* Separator */
  .social-icons::after {
    height: 1.5rem;
    border-inline-end: 1px solid var(--sl-color-gray-5);
  }

  /* Desktop */
  /* @media (min-width: 50rem) {
    .header {
      background: transparent;
    }
  } */
}