/* src/styles/Header.css */

@layer stardux {
  .header {
    display: flex;
    gap: var(--sl-nav-gap);
    justify-content: space-between;
    align-items: center;

    /* Stardux */
    /* Bisa kita ubah nanti tanpa menyentuh layout bawaan lainnya. */
    height: 100%;
  }

  .title-wrapper {
    /* Prevent long titles overflowing and covering the search and menu buttons. */
    overflow: clip;

    /* Avoid clipping focus ring around link inside title wrapper. */
    padding: 0.25rem;
    margin: -0.25rem;
    min-width: 0;
  }

  .right-group,
  .social-icons {
    gap: 1rem;
    align-items: center;
  }

  .social-icons::after {
    content: '';
    height: 2rem;
    border-inline-end: 1px solid var(--sl-color-gray-5);
  }

  @media (min-width: 50rem) {
    :root[data-has-sidebar] {
      --__sidebar-pad: calc(2 * var(--sl-nav-pad-x));
    }

    :root:not([data-has-toc]) {
      --__toc-width: 0rem;
    }

    .header {
      --__sidebar-width: max(
        0rem,
        var(--sl-content-inline-start, 0rem) - var(--sl-nav-pad-x)
      );

      --__main-column-fr: calc(
        (
          100%
          + var(--__sidebar-pad, 0rem)
          - var(--__toc-width, var(--sl-sidebar-width))
          - (2 * var(--__toc-width, var(--sl-nav-pad-x)))
          - var(--sl-content-inline-start, 0rem)
          - var(--sl-content-width)
        ) / 2
      );

      display: grid;

      grid-template-columns:
        minmax(
          calc(
            var(--__sidebar-width)
            + max(
              0rem,
              var(--__main-column-fr) - var(--sl-nav-gap)
            )
          ),
          auto
        )
        1fr
        auto;

      align-content: center;
    }
  }
}