@layer stardux {
  .site-title {
			align-items: center;
			gap: var(--sl-nav-gap);
			font-size: var(--sl-text-h4);
			font-weight: 600;
			color: var(--sl-color-text);
			text-decoration: none;
			white-space: nowrap;
			min-width: 0;
		}
}